body{
    display: grid;
    grid-template-areas: "head head" "nav main" "nav main";
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1% 1fr;
    position: relative;
}

.page-main-menu {
    grid-area: head;
    background-color: #f50057;
    z-index:2;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 5vh;
    padding: 1rem;

}

.component-list {
    font-size: 1rem;
    grid-area:nav;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    color: #161d6f;
    width: 22%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    /* overflow: scroll; */
    height: 100%;
    border-right: 5px double #f50057;
    margin-top: 10vh;
    /* padding: 1rem; */
}

.component-display {
    grid-area:main;
}

header {
    font-weight: 700;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.hero-image {
    width: 6%;
    margin-top: 0.65rem;
}

.hero-name {
    flex-grow:1;
    font-size: 2rem;
}

.hero-image:hover {
    margin-left: 1.5rem;
    margin-right: 1rem;
}

.get-started, .docs, .example-pages {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}

.github >i {
    color: white;
    margin-right: 3rem;
    padding-right: 0;
    font-size:2.5rem;
}

.components-name {
    list-style: none;
}

.components-name > a {
    text-decoration: none;
}

.side-nav-components-list {
    color: #161d6f;
    display: flex;
    margin-block-end: 0;
}

li > a {
    text-decoration: none;
    color: #6e7582;
    font-size: 1.3rem;
}

li>a:hover {
    /* padding: 1rem; */
    color:#f50057;
    font-weight: 700;
}

